.git
.context
.github
.env
*.env
**/.env
*.md
Makefile
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
coverage.out
coverage.html
**/coverage.out
**/coverage.html
list2gether
list2gether-backend
tmp
**/tmp
